<div class="container-fluid pt-2">
  <div class="row">
      <div class="col col-md-2 align-self-center">
        <h1 class="nav-head">snap</h1>
      </div>
      <div class="col col-md-8 align-self-center dropdowns-cols">
        <div class="d-flex gap-4 nav-dropdowns">
          <div (mouseover)="changeIconFeature=true" (mouseout)="changeIconFeature=false" class="dropdown">
            Features&nbsp;
            <img *ngIf="!changeIconFeature" src="../assets/icons/icon-arrow-down.svg"/>
            <img *ngIf="changeIconFeature" src="../assets/icons/icon-arrow-up.svg"/>
            <div class="dropdown-content-feature">
              <p><img src="../assets/icons/icon-todo.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Todo List</p>
              <p><img src="../assets/icons/icon-calendar.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Calendar</p>
              <p><img src="../assets/icons/icon-reminders.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Reminders</p>
              <p><img src="../assets/icons/icon-planning.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Planning</p>
            </div>
          </div>
          <div (mouseover)="changeIconCompany=true" (mouseout)="changeIconCompany=false"  class="dropdown">
            Company&nbsp;
            <img *ngIf="!changeIconCompany" src="../assets/icons/icon-arrow-down.svg"/>
            <img *ngIf="changeIconCompany" src="../assets/icons/icon-arrow-up.svg"/>
            <div class="dropdown-content-company">
              <p>History</p>
              <p>Our Team</p>
              <p>Blog</p>
            </div>
          </div>
          <div>Careers</div>
          <div>About</div>
        </div>
      </div>
      <div class="col col-md-2 align-self-center buttons-cols">
        <div class="d-flex gap-4 nav-buttons">
          <button class="login-button">Login</button>
          <button class="register-button">Register</button>
        </div>
      </div>
      <img (click)="openNav()" class="img-fluid d-md-none align-self-center hamburger" src="../assets/images/icon-menu.svg"/>
  </div>
</div>

<div class="container pt-4 pt-md-5">
  <div class="row">
    <div class="col-12 col-md-5 order-md-2 hero-container">
      <img class="img-fluid hero-image" src="../assets/images/image-hero-desktop.png">
      <img class="img-fluid hero-image-mobile" src="../assets/images/image-hero-mobile.png">
    </div>
    <div class="col-12 col-md-7 order-md-1 desc-col">
      <div class="d-md-inline d-flex gap-1 short-desc-container">
        <h1 class="short-desc">Make</h1>
        <h1 class="short-desc">remote work</h1>
      </div>
      <div class="long-desc">
        <p>
          Get your team in sync, no matter your location.
          Streamline processes, create team rituals, and
          watch productivity soar.
        </p>
      </div>
      <div class="learn-more-content">
        <button class="learn-more-button">Learn more</button>
      </div>
      <div class="d-flex company-images">
        <img class="img-fluid com-img" src="../assets/images/client-databiz.svg"/>
        <img class="img-fluid com-img" src="../assets/images/client-audiophile.svg"/>
        <img class="img-fluid com-img" src="../assets/images/client-meet.svg"/>
        <img class="img-fluid com-img" src="../assets/images/client-maker.svg"/>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSideNavOpen" id="mySidenav" class="sidenav">
  <div class="close-icon-container">
    <img (click)="closeNav()" src="../assets/icons/icon-close-menu.svg"/>
  </div>
  <div class="d-flex flex-column gap-3 side-nav-dropdowns">
    <div>Features 
    <img *ngIf="!isFeatureClicked" (click)="isFeatureClicked = !isFeatureClicked"  src="../assets/icons/icon-arrow-down.svg"/>
    <img *ngIf="isFeatureClicked" (click)="isFeatureClicked = !isFeatureClicked"  src="../assets/icons/icon-arrow-up.svg"/>
    </div>
    <div *ngIf="isFeatureClicked" class="feature-content">
      <p><img class="img-fluid feature-logos" src="../assets/icons/icon-todo.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Todo List</p>
      <p><img class="img-fluid feature-logos"  src="../assets/icons/icon-calendar.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Calendar</p>
      <p><img class="img-fluid feature-logos"  src="../assets/icons/icon-reminders.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Reminders</p>
      <p><img class="img-fluid feature-logos"  src="../assets/icons/icon-planning.svg"/>&nbsp;&nbsp;&nbsp;&nbsp;Planning</p>
    </div>
    <div>Company
      <img *ngIf="!isCompanyClicked" (click)="isCompanyClicked = !isCompanyClicked" src="../assets/icons/icon-arrow-down.svg"/>
      <img *ngIf="isCompanyClicked" (click)="isCompanyClicked = !isCompanyClicked" src="../assets/icons/icon-arrow-up.svg"/>
    </div>
    <div *ngIf="isCompanyClicked" class="company-content">
      <p>History</p>
      <p>Our Team</p>
      <p>Blog</p>
    </div>
    <div>Careers</div>
    <div>About</div>
  </div>
  <div class="d-flex flex-column gap-4 nav-buttons-container">
    <button class="nav-login">Login</button>
    <button class="nav-register">Register</button>
  </div>
</div>

<router-outlet></router-outlet>
